body{

	font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
	padding-bottom: auto;
    width: 625px;
    margin: auto;
	background-image: url("../images/stars2.gif");

}
h1{
	
	text-decoration;
	text-shadow: 3px 2px green;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #331658;
	text-align: center;
}
